/* MOBILE PHOTO */
.photoHeadshot {
  display: inline-flex;
}

.photoHeadshot img {
  border: 5px solid rgb(0, 217, 255);
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  height: 150px;
  position: relative;
  z-index: 20000;
}

/* MOBILE MEDIA QUERY */
@media (max-width: 670px) {
  .photo {
    display: none;
  }
  #photoHeadshot {
    background-color: rgb(0, 217, 255);
  }
  main {
    width: 100%;
  }
  .links a:hover {
    color: white;
  }
  section {
    text-align: center;
  }
  section .bio {
    text-align: left;
    width: 100%;
    padding: 0px;
  }
  section .bio p {
    font-size: 23px;
  }
  .mainContent {
    margin-top: -85px;
    margin-left: 0px;
  }
  .connect {
    padding: 0px;
  }
}

@media (min-width: 669px) {
  .photoHeadshot {
    display: none;
  }
}