/* BODY STYLES */
body {
    background-color: rgb(247, 246, 239);
    font-family: 'Karla', sans-serif;
}

/* HEADER STYLES */
.header {
    position: fixed;
    background-color: rgb(54, 184, 201);
    padding: 10px;
    width: 100%;
    top: 0;
    margin-right: 0;
    z-index: 2;
    -webkit-box-shadow: 0px 0px 8px 2px #000000;
    -moz-box-shadow: 0px 0px 8px 2px #000000;
    box-shadow: 0px 0px 8px 2px #000000;

}

.header p {
    color: rgb(249, 234, 214);
    font-size: 45px;
    text-shadow: 2px 2px rgb(239, 123, 14);
    margin: 0.2px;
    text-align: center;
    letter-spacing: -2px;
}

/* LINKS */
.links {
    float: right;
    margin-right: 40px;
    font-size: 28px;
    font-weight: bolder;
    z-index: 103;
    color: rgb(239, 123, 14);
}

.links a {
    color: rgb(239, 123, 14);
    text-decoration: none;
}

.links a:hover {
    color: rgb(239, 123, 14);
}

/* PHOTO STYLE */
.photo img {
    margin-right: 5px;
    margin-left: -15px;
    margin-top: -15px;
    border: 5px solid #fff;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    z-index: -2;
    position: fixed;
}

/* MAIN STYLES */
main {
  display: flex; 
  width: 670px;
  margin: 0 auto;
  margin-top: 80px;
}

.mainContent {
    margin-left: 202px;
    margin-top: -10px;
}

section {
  margin: 1px;
  margin-top: 13px;
}

/* MOBILE PHOTO */
.photoHeadshot img {
        border: 5px solid #fff;
        border-radius: 50%;
        height: 150px;
        position: relative;
        width: 150px;
        z-index: -2;
}

/* BIO */
.bio {
    font-size: 19px;
    padding: 8px;
}

.bio p {
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    color: rgb(239, 123, 14);
    line-height: 1.3em;
    margin-bottom: 5px;
    letter-spacing: -1px;
    margin-top: -10px;
}




/* MOBILE MEDIA QUERY */
@media (max-width: 670px) {
  .photo {
    display: none;
  }
  main {
    width: 100%;
    margin-top: 60px;
  }
  section .bio {
    font-size: 20px;
    text-align: left;
  }
  section {
    text-align: center;
  }
  section .bio p {
      font-size: 28px;
  }
  .mainContent {
    margin-left: 0;
    margin-top: 0;
  }
}

@media (min-width: 669px) {
    .photoHeadshot {
      display: none;
    }
}
