/* BODY STYLES */
body {
    background-color: rgb(247, 246, 239);
    font-family: 'Karla', sans-serif;
}

/* HEADER STYLES */
.header {
    position: fixed;
    background-color: rgb(71, 166, 197);
    color: antiquewhite;
    padding: 10px;
    font-size: 48px;
    text-align: center;
    width: 100%;
    top: 0;
    left: 0;
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
    z-index: 100000;
}
.header h1 {
    color: rgb(249, 234, 214);
    font-size: 48px;
    margin: 5px;
}

/* MAIN STYLES */
main {
  display: flex; 
  width: 560px;
  margin: 0 auto;
  margin-top: 90px;
}

section {
  margin: 5px;
  margin-top: 23px;
}

section .photo{
  width: 230px;
  /* Hacky. Would be better to clip the image*/
  margin-top: -33px;
  margin-left: -55px;
}

section .contactInfo {
    line-height: 1.3em;

}

section .bio {
    padding: 15px;
    border: 3px;
    line-height: 1.3em;
    border-style: solid;
    border-color: rgb(71, 166, 197);
    background-color: rgba(71, 166, 197, 0.2)
}

section .links {
    font-size: 20px;
    line-height: 1.3em;

}

section .links a {
    color: rgb(71,166,197);
    text-decoration: none !important;
}

.section .links a:hover {
    color: rgb(239, 123, 14);
}


@media (max-width: 560px) {
  .photo {
    display: none;
  }
  main {
    width: 100%;
  } 
}
