body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-image: url(ts.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  float: left;
  width: 1000px;
  margin-top: 300px;
  margin-left: 450px;
}

.maintext {
  color: white;
  font-size: 30px;
  text-align: center;
}

.button {
  margin-left: 200px;
  margin-top: 20px;
}