/* Selector {
    Property: value;
} */

body {
    background-color: #68CFCF;   
}

h2 {
    color: #007272;
    text-align: center;
    border: 5px solid #007272;
    cursor: pointer;
}

p {
    color: #3DB8B8;
}

li {
    list-style-type: none;
    display: inline;
    padding: 4px;
}