/* Selector {
    Property: value;
} */

* {
    text-align: right;
}

body {
    background-color: rgba(103, 207, 207, 0.45);   
}

h2 {
    color: #007272;
    text-align: center;
    border: 5px solid #007272;
    cursor: pointer;
}

p {
    color: rgb(6, 56, 56);
    text-align: center;
    border: 5px solid #007272;
}

li {
    list-style-type: none;
    display: inline;
    padding: 4px;
}

.webtext {
    background-color: #3DB8B8;
}

#div2 {
    margin-left: 155px;
    margin-right: 155px;
}

div :hover {
    background-color: aquamarine;
}